.ContactContainer{
  float: left;
  width: 100%;
  background-color: #111;
  display: flex;
  padding-bottom: 30px;
  color: white;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

  
  /* Begin Left Contact Page */
  .form-horizontal {
    float: left; 
    font-family: 'Lato';
    font-weight: 400;
    margin-left: 30px;
    margin-top: 40px;
    width: 45%;
    margin-right: 5%;  
    margin-bottom: 40px;
  }

  .form-horizontal h1{
    padding-bottom: 42.5px;
  }

  #contact-form{
    margin-top: 35px;
  }
  
  .form-control, textarea {
    width: 100%;
    background-color: #111;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 15px;
    padding: 0;
  }

  .form-control {    
    display: block;    
    /* line-height: 1.42857143; */
    padding: 5px 0 5px 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.message{

    height: auto;
}
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 101.5%;
    background-color: #555;
    transition: all .2s ease-in-out;
    border: none;
    border-radius: 4px;
  }
  
  .send-button:hover {
    background-color: #111;
    color: white;
    border: 1px solid white;
  }
  
  .send-text {
    display: block;
    font: 300 14px 'Lato', sans-serif;
    letter-spacing: 2px;
  }

  .infoContact{    
    float: left;
    width: 100%;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .infoContact a{
    text-decoration: unset;
    font-size: 20px;
    margin-top: 5px;
    color: white;
  }
  

  .adresContact p{

    margin:0;
  }


  .halflineContact
  {

width: 50%;
float: left;

  }
  
  /* 767px:page mobile */
@media(max-width:767px){
  .ContactContainer{
    display: block;
    text-align: center;
  }
  
  .form-horizontal {
    margin-top: 0;
    margin-bottom: 0;
    width: 70%;
    margin-left: 15%;
    align-items: center;
    
  }

  .form-horizontal h1{
    padding-bottom: 0;
    margin-bottom: 2.5px;
  }

  .halflineContact{
  width: 50%;
  float: initial;
  }

  .infoContact{

    margin-top: 5px;
    margin-bottom: 5px;
  }

}
