@import url(https://fonts.googleapis.com/css?family=Ek+Mukta:200);
html {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    
}

.fullwidth{
    width: 100%;
}

.width70{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

body {
    width: 100%;
    background-color: green;
    margin: 0;
}

h4{
    font-size: 20px;
    margin-top:5px;
    margin-bottom: 20px;
}

header {
    height: 50px;
    background-color: white;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 15%;
    padding-right: 15%;
    z-index: 10;
}

.logocontainer {
    background-color: red;
    height: 100%;
    width: 30%;
    float: left;
}

.logo {
    background-color: red;
    height: 70%;
    padding: 7px;
    float: left;
    margin-right: 5px;
}

.logoimg{
height: 100%;

}

.menucontainer {
    background-color: pink;
    width: 70%;
    height: 100%;
    float: left;
}

.HamburgerMenu{

    display: none;
}

.menucontainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menucontainer li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menucontainer a:hover {
    display: block;
    opacity: 0.5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.logocontainer a{
    color: #000;
}

.logocontainer a:hover{
    opacity: 0.25;
}

.topcontent{
    overflow: hidden;
    position: relative;
    padding-top: 50px;
    width: 70%;
    margin-left: 15%;
}

.topvideo{
    width: 100%;
    text-align: center;
    align-items: center;
    height: 50%;
    
}

.videocontent {
    position: absolute;
    top: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    height: 100%;
    width: 100%;
    padding: 10%;
    vertical-align: middle;
  }

  .infotopcontent{
    width: 50%;

  }
  
 
.MainContainer {
    background-color: white;
    min-height: 100%;
    margin-top: 4rem;
}

footer {
    background-color: #57706e;
    color: white;
    padding: 40px 15% 20px 15%;
    overflow: hidden;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}

.logofooter
{
height: 40px;

}
.logotext
{

   float: left; 
}

.footerlogocontainer{

   float: left; 
   margin-right: 5px;
}

.sociallogo{
    height: 25px;

}

.footercontainer {
    width:33.33%;
    float:left;
    background-color:grey;
}

.introContainer{
    background-color: aqua;
}

.verhaalContainer{
    background-color: rebeccapurple;
}

.specialiteitenContainer{
    background-color: brown;
}

.ContactContainer{
    background-color: grey;
}

/* 991px:page mobile */
@media(max-width:991px){
    .width70{
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }    

    footer{
        padding-left: 2%;
        padding-right: 2%;
    } 

    header{
        padding-left: 2%;
        padding-right: 2%;
    }
}

/* 767px:page mobile */
@media(max-width:767px){
    .footercontainer{
        float: none;
        width: 100%;
        text-align: center;
    }

    .footerlogocontainer{
        float: none;
    } 

    .nav-desktop{
        display: none;
    }


    .topcontent{
        
        width: 100%;
        margin-left: 0;
        
    }
} 

@media(min-width:768px){
    .nav-mobile{
        display: none;
    }

    
} 

.active-desktop, .active-mobile{
    opacity: 0.5;
}






