html {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}

#fullwidth{
    width: 100%;
}

#width70{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

body {
    width: 100%;
    background-color: green;
    margin: 0;
}

h4{
    font-size: 20px;
    margin-top:5px;
    margin-bottom: 20px;
}

header {
    height: 40px;
    background-color: white;
    margin-left: 15%;
    margin-right: 15%; 
    margin-top: 15px;
}

.logocontainer {
    background-color: red;
    height: 100%;
    width: 30%;
    float: left;
}

.logo {
    background-color: blue;
    height: 100%;
    float: left;
    margin-right: 5px;;
}

.logoimg{
height: 100%;

}

.menucontainer {
    background-color: pink;
    width: 70%;
    height: 100%;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

a:hover {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.MainContainer {
    background-color: white;
    /* padding-left: 15%;
    padding-right: 15%; */
    min-height: 100%;
}

footer {
    background-color: #57706e;
    color: white;
    padding: 40px 15% 20px 15%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.logofooter
{
height: 40px;

}

.footerlogocontainer{

   float: left; 
   margin-right: 5px;
}

.sociallogo{
    height: 25px;

}

.footercontainer {

    width:23%;
    float:left;
    background-color:grey;
}

.introContainer{
    background-color: aqua;
}

.verhaalContainer{
    background-color: rebeccapurple;
}

.specialiteitenContainer{
    background-color: brown;
}

.ContactContainer{
    background-color: grey;
}