@import url('https://fonts.googleapis.com/css?family=Bowlby+One&display=swap');
html {
    
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    
}

h1{

    font-size: 50px;


}

h3{
    font-size: 30px;

}
h4{
    margin-bottom: 5px;
}

.fullwidth{
    width: 100%;
}

.width70{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

body {
    width: 100%;
  
    margin: 0;
}

h4{
    font-size: 20px;
    margin-top:5px;
    margin-bottom: 20px;
}

header {
    height: 50px;
    background-color: white;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 15%;
    padding-right: 15%;
    z-index: 10;
}

.logocontainer {
    background-color: white;
    height: 100%;
    width: 30%;
    float: left;
}

.logo {
    background-color: white;
    height: 70%;
    padding: 7px;
    float: left;
    margin-right: 5px;
}

.logoimg{
height: 100%;

}

.menucontainer {
    width: 70%;
    height: 100%;
    float: left;
}

.HamburgerMenu{

    display: none;
}

.menucontainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menucontainer li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
}

.menucontainer a:hover {
    display: block;
    opacity: 0.5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.logocontainer a{
    color: #000;
}

.logocontainer a:hover{
    opacity: 0.25;
}

.topcontent{
    position: relative;
    padding-top: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
}

.topvideo{
    width: 100%;
    filter: brightness(0.5);
}

.videocontent {
    position: absolute;
    top: 50px;
    width: 70%;
    color: #f1f1f1;
    padding: 20% 0 0 10%;
    vertical-align: middle;
    /* text-align: center; */
    top: 0;
    left: 0;
  }

  .infotopcontent{
    width: 50%;
  }

  .infoimg{
    height: 300px;
    background-image: url(../Images/infopicture.jpg);
    background-position: center;
    background-size: cover;
    margin-left: 1%;
  }

  .ContentBlock1{
      width: 100%;
      overflow: hidden;
      height: auto;
      float: left;
      margin-top: 3rem;
      
  }

  .split25{

    width: 25%;
    float: left;
  }

  .split33{

    width: 33%;
    float: left;
    
  }

  .split66 p{
text-align: justify;
    width: 80%;
  }

   .split40{

    width: 40%;
    float: left;
  }

  .split50{

    width: 50%;
    float: left;
  }



  .split60{

    width: 60%;
    float: left;
  }
  .split66{

    width: 66%;
    float: left;
  }

  .split75{

    width: 75%;
    float: left;
  }
  

  .ContentBlockVideo
  {
  
    width: 100% !important;
    height: auto !important;
    transition: 1s opacity;
    z-index:-1;
    float: right;


  }
 
.MainContainer {
    background-color: white;
    min-height: 100%;
    margin-top: 3rem;
}

footer {
    background-color: #111;
    color: white;
    padding: 40px 15% 20px 15%;
    overflow: hidden;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}

.logofooter
{
height: 40px;

}
.logotext
{

   float: left; 
   font-size: 25px;
   margin-top: 8px;
   font-family: 'Bowlby One';
   font-style: italic;
   color: #9a2620;
}
.footerinfocontainer{

    display: flex;
}
.footerlogocontainer{

   float: left; 
   margin-right: 5px;
}

.sociallogo{
    height: 25px;

}

.footercontainer {
    width:33.33%;
    float:left;
    
}
address{
    float: left;
    width: 100%;
    margin:0;
}
address p {
    margin:0;
}

.introContainer{
    background-color: aqua;
}

.verhaalContainer{
    background-color: rebeccapurple;
}

.specialiteitenContainer{
    background-color: brown;
}


.contactinfo{

    float: left;
    color: white;
    text-decoration: none;
    width: 100%;
}


/* 1200px:page laptop */
@media(max-width:1200px){
    .width70{
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }    

    footer{
        padding-left: 2%;
        padding-right: 2%;
    } 

    header{
        padding-left: 2%;
        padding-right: 2%;
    }

    .topcontent{
        overflow: hidden;
        position: relative;
        padding-top: 50px;
        width: 96%;
        margin-left: 2%;
    }

    


}

/* 767px:page mobile */
@media(max-width:850px){
    .footercontainer{
        float: none;
        width: 100%;
        text-align: center;
    }

    .footerlogocontainer{
        float: none;
    } 

    .nav-desktop{
        display: none;
    }


    .topcontent{
        
        width: 100%;
        margin-left: 0;
        
    }

    .split25{

        width: 100%;
        float: left;
      }
    
      .split33{
    
        width: 100%;
        float: left;
      }
    
       .split40{
    
        width: 100%;
        float: left;
      }
    
      .split50{
    
        width: 100%;
        float: left;
      }
    
    
      .split60{
    
        width: 100%;
        float: left;
      }
      .split66{
    
        width: 100%;
        float: left;
      }
    
      .split75{
    
        width: 100%;
        float: left;
      }

      .infoimg{
          margin-left: 0;
      }
} 

@media(min-width:850px){
    .nav-mobile{
        display: none;
    }

    
} 

.active-desktop, .active-mobile{
    opacity: 0.5;
}






